        :root {
            --rosa-pastel: #fce4ec;
            --rosa-fuerte: #f06292;
            --rosa-hover: #ec407a;
            --blanco: #ffffff;
        }

        body { font-family: 'Poppins', sans-serif; background-color: var(--blanco); color: #fce4ec; }
        h1, h2, h3, .navbar-brand { font-family: 'Playfair Display', serif; color: var(--rosa-fuerte); }

        /* Navbar personalizada */
        .navbar { background-color: var(--blanco); border-bottom: 2px solid var(--rosa-pastel); }
        .nav-link { color:#ec407a;; transition: 0.3s; }
        .nav-link:hover { color: var(--rosa-pastel) ; }

        /* Contenedor de Video Hero */
        .hero-video-container {
            position: relative;
            width: 100%;
            height: 60vh;
            background-color: #000; 
            overflow: hidden;
        }
        
        .hero-video-container video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            transform: translate(-50%, -50%);
            z-index: 0;
        }

        .video-overlay {
            position: absolute;
            top: 0; left: 0; width: 100%; height: 100%;
            background: rgba(255, 240, 245, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            text-align: center;
        }

        .btn-beauty { 
            background-color: var(--rosa-fuerte); 
            color: white; 
            border-radius: 50px; 
            padding: 12px 35px; 
            border: none;
            font-weight: 600;
        }
        .btn-beauty:hover { background-color: var(--rosa-hover); color: white; transform: scale(1.05); transition: 0.3s; }

        .product-info-card {
            border: none;
            background-color: var(--rosa-pastel);
            border-radius: 20px;
            transition: 0.3s;
        }
        .product-info-card:hover { transform: translateY(-10px); }
        .icon-box {
            font-size: 2.5rem;
            color: var(--rosa-fuerte);
            margin-bottom: 15px;
        }

        .footer-professional {
            background-color: var(--rosa-pastel);
            color: #555;
            border-top: 5px solid var(--rosa-fuerte);
        }
        .footer-link { color: #555; text-decoration: none; }
        .footer-link:hover { color: var(--rosa-fuerte); }